build
dist
AlternativeDesktop.spec
AlternativeDesktopInstaller.iss
Alternative Desktop Installer.exe
__pycache__
config/settings.json
/config
/depreciated
*.psd
background.png
background2.png
background.mp4
background2.mp4
background3.mp4
background3.png
hooks/hook-pylnk3.py
test.py
desktop/desktop_grid_old.py
desktop/desktop_grid_full_icon_array.py
app_crash.log
app.log
